.logInLink{
  background: rgba(150, 150, 150, 0.5);
  padding: 10px;
  font-size: 18px;
}
.CreateNewUserLink{
  background: rgba(150, 150, 150, 0.5);
  padding: 10px;
  font-size: 18px;
}
.FormContainer{
  text-align: center;
}
.welcome{
  font-size: 48px;
  font-family: cursive;
}
.hidden{
  display: none;
}
#password #confirmPassword{
font-family: 'password';
}