@import 'log-in.css';
@import 'events.css';
@import 'news.css';
@import 'chat.css';

body {
  background-image: url(../imgs/wallpaper-1.jpg);
  background-size: cover;
}

.redX {
  float: right;
  background-color: #f44336;
  border-radius: 8px;
}
.flexboxplaceholder{
  display: flex;
}
.social{
  flex-basis: 25%;
  float: right;
}
.NET{
  min-width: 70%;
}
.remove{
  color: red;
}
.deleteFriend{
  color: red;
}
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
/* .container {
  padding: 2px 16px;
} */