@import 'log-in.css';
@import 'nav.css';
@import 'news.css';
@import 'events.css';
@import 'tasks.css';
@import 'chat.css';
@import 'sectionHeaders.css';
@import 'messages.css';
@import 'dialog.css';
@import 'friendList.css';

body {
  background-color: rgb(235, 235, 235);
  background-image: url(../imgs/wallpaper-2.jpg);
  background-attachment: fixed;
}

.logOut {
  background: rgba(0, 0, 0, 0.5);;
  border-radius: 8px;
  padding: 10px;
  color: red;
  float: right;
  font-family: cursive;
  font-size: 18px;
}

.redX {
  float: right;
  background-color: #f44336;
  border-radius: 8px;
}
.flexboxplaceholder{
  display: flex;
  flex-direction: column;
}

.welcomeMessage {
  font-size: x-large;
  font-family: cursive;
  text-align: center;
}

.flexDiv {
  display: flex;
  justify-content: space-evenly;
}

.social{
  flex-basis: 25%;
  float: right;
}
.NET{
  min-width: 70%;
}
.remove{
  color: red;
}
.deleteFriend{
  color: red;
}
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
/* .container {
  padding: 2px 16px;
} */